.nav {
  display: none;
}
.navbar_container {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.qualification_container {
  height: auto;
  width: 100%;
  background-color: rgb(169, 20, 20);
  border-top: 60px solid rgb(10, 10, 83);
  place-items: center;
  grid-template-columns: auto;
  gap: 20px;
  display: grid;
}
.qualification_container div {
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: rgb(10, 10, 83);
}

.aboutUs_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subContainer {
  width: 100%;
}
.aboutImg_container {
  display: none;
}

.about_content h1 {
  font-size: 1.5rem;
}
.about_content p {
  padding: 20px;
  text-align: justify;
  font-size: 1rem;
}
