.nav {
  display: none;
}
.navbar_container {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.qualification_container {
  height: auto;
  width: 100%;
  background-color: rgb(169, 20, 20);
  border-top: 60px solid rgb(10, 10, 83);
  place-items: center;
  grid-template-columns: auto;
  gap: 20px;
  display: grid;
}
.qualification_container div {
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: rgb(10, 10, 83);
}

.aboutUs_container {
  border-top: 50px solid rgb(10, 10, 83);
  /* background-color: rgb(14, 179, 86); */
  width: 100%;
  height: auto;
}
.subContainer {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 40vh;
  text-align: justify;
  overflow: scroll;
  box-shadow: 10px 10px 16px -1px rgba(244, 244, 244, 0.43);
  -webkit-box-shadow: 10px 10px 16px -1px rgba(237, 228, 228, 0.43);
  -moz-box-shadow: 10px 10px 16px -1px rgba(235, 221, 221, 0.43);
}
.aboutImg_container {
  display: none;
}
.aboutImg_container img {
  display: none;
}
.about_content {
  width: 100%;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
