.maintain_nav {
  display: none;
  background-color: aqua;
}
.navbar_container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #04aa6d;
  width: 100%;
}
.logo_container {
  display: none;
}

.qualification_container {
  height: 1900px;
  width: 100%;
  background-color: rgb(169, 20, 20);
  border-top: 60px solid rgb(10, 10, 83);
  place-items: center;
  grid-template-columns: auto;
  gap: 4px;
  display: grid;
}
.nav {
  width: 60%;
  display: flex;
  background-color: #04aa6d;
  justify-content: center;
}

.qualification_container div {
  width: 90%;
  height: 365px;
}
.subContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutImg_container {
  display: flex;
  width: 60%;
}
.aboutUs_container {
  width: 100%;
  /* height: 1200px; */
  display: flex;
  justify-content: center;

  justify-content: space-evenly;
}
.about_content {
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  text-align: center;
  font-size: 2rem;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.inner_messageBox h1 {
  font-size: 2rem;
  margin-top: 20px;
}
